@{
    ViewData["Title"] = "CarBooking";
}
<h1>@ViewData["Title"]</h1>

<p>
    Ми перспективна, амбіційна і прогресивна компанія на українському ринку, яка заснована у місті Одеса
</p>
<p>
    Місія компанії – надати українському населенню, а також гостям країни якісну і доступну послугу автопрокату,
    вже давно поширену і вподобану, та активно споживану користувачами у європейських країнах.
</p>
<p>
    Мета діяльності – поширення культури користування автомобілем напрокат, покладання усіх турбот і проблем,
    пов’язаних з поїздкою, на професіоналів компанії
</p>
<p>
    Працюємо цілодобово – 24г/добу
</p>