@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">    
    <h1 class="display-4" style="color: red">
        ПРОКАТ АВТОМОБІЛІВ В ОДЕСІ<i class="fa fa-car" style="margin-left: 10px"></i>       
    </h1>
    <h4>
        МИ ПІДБЕРЕМО АВТО ДЛЯ ВАС!
        <br />
        Оренда автомобілів для будь-якої поїздки
        <br />
        Чудові пропозиції за чудовими цінами        
    </h4>
    <p>
        <form action="/Car">
            <button type="submit" class="btn btn-warning">Вибрати авто</button>
        </form>
    </p>
</div>


<div class="row row-cols-2">
    <div class="col">
        <div class="text" style="color:chocolate">
            БЕЗДОГАННИЙ
            <br />ЗОВНІШНІЙ ВИГЛЯД
            <br />АВТОМОБІЛЯ
        </div>
        <div class="text">
            Автопарк регулярно проходить дітейлінг
            <br />екстер'єру та салону. Ми ретельно
            <br />перевіряємо технічний стан кожного
            <br />автомобіля до та після оренди.
        </div>
    </div>
    <div class="row row-cols-2">
        <div class="col-md-6 ms-auto">
            <div class="text" style="color:chocolate">
                ТЕХНІЧНА
                <br />ПІДТРИМКА 24/7
            </div>
            <div class="text">
                Надаємо експертну підтримку
                <br />протягом усієї оренди.
                <br />Швидка допомога та жодних турбот.
            </div>
        </div>
    </div>
</div>


