@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Багатоканальний телефон гарячої лінії, щодня з 8:00 до 21:00</p>
<p>Дзвінки з мобільних і стаціонарних телефонів в межах України безкоштовні</p>
<p>Написати нам: </p>
<a href="mailto:spu121ajur@gmail.com?subject=Заголовок&body=сообщение">Відправити листа</a>

